.CoverWrapper {
  height: 300px;
  background-size: cover;

  .Content {
    background: inherit;
    width: 100%; /* =cw */
    height: 45%; /* =ch */
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.4);
    position: relative;
    top: 78%; /* =ct */
    left: 50%; /* =cl */
    transform: translate(-50%, -50%);
    overflow: hidden;

    .CoverInfo {
      padding: 20px;
      background: rgba(0, 0, 0, 0.4);
      height: 100%;
      box-sizing: border-box; /* so that padding is included in height */

      .Prof {
        background-size: cover;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        border: 1px solid #fff;
        display: inline-block;
        position: relative;
        top: 20px;
        margin-right: 20px;
      }

      .NamePos {
        display: inline-block;
        color: #fff;

        h4 {
          font-weight: 600;
          font-size: 16px;
          margin-bottom: 5px;
        }

        p {
          font-size: 12px;
          margin-bottom: 0;
        }
      }

      .btnGreen {
        background-color: #4BCA81;
        color: #fff;
        font-size: 12px;
        border: transparent;
        font-weight: 600;
        padding: 4px 25px;
        border-radius: 25px;
        top: 35px;
        float: right;
        position: relative;
      }
    }

    .Blur {
      background: inherit;
      height: 300px; /* h */
      width: 100%; /* (100/cw) x 100% */
      position: absolute;
      left: 0;
      top: 0;
      transform: translate(0%, -55%); /* - [cl - (cw/2)] % ,  -[ct - (ch/2)] % */
      filter: blur(2px);
      z-index: -1;
    }
  }

  // .CoverInfo:before {
  //   content: "";
  //   background: inherit;
  //   position: absolute;
  //   box-shadow: inset 0 0 2000px rgba(43, 40, 38, .4);
  //   filter: blur(2px);
  //   width: 100%;
  //   height: 100%;
  //   z-index: -1;
  // }
}

.ModalBox {
  .Title {
    font-size: 14px;
    font-weight: 600;
  }

  .ModalBody {
    padding: 0;
    margin: -3px -3px 0px -3px;
    .ModalCoverWrapper {
      height: 410px;
    }

    .ProfWrapper {
      width: 100px;
      margin-left: auto;
      margin-right: auto;

      .Prof {
        background-size: cover;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 1px solid #fff;
        display: inline-block;
        position: relative;
        top: -50px;
      }
    }

    .ModalForm {
      margin-top: -30px;
      padding: 0 20px 20px 20px;

      p {
        font-size: 12px;
        color: #706E6B;
        margin-bottom: 0;
        margin-top: 15px;
      }

      .LabelBio {
        margin-bottom: 10px;
      }

      .SelectMod {
        margin-top: 35px;
        border: none;
        background: none;
      }

      .btnAddPos {
        font-size: 12px;
        font-weight: 600;
        color: #4BCA81;
        margin-top: 20px;
        float: right;
        border: none;
        background: none;
      }

      .cntRow {
        margin-top: 50px;
      }

      input {
        width: 100%;
        border: 0;
        border-bottom: 1px solid #706E6B;
      }

      textarea {
        width: 100%;
        height: 200px;
      }

      .ProfModFooter {
        margin-left: -17px;
        margin-right: -17px;
        border-top: 1px solid #dee2e6;
        padding: 15px 15px 5px;
        margin-top: 50px;

        .BtnWrapper {
          float: right;
          margin-bottom: 15px;

          .CancelMod {
            font-size: 12px;
            font-weight: 600;
            color: #2B2826;
            border: none;
            background: none;
          }

          .UpdateMod {
            font-size: 12px;
            font-weight: 600;
            color: #4BCA81;
            border: none;
            background: none;
          }
        }
      }
    }
  }
}
