.EmailAddress{
  padding-left: 30px;
  .EmailAddressInstruction{
    color:#706E6B;
  }
  form{
    display: inline;
    input{
      width: 100%;
      padding: 15px;
    }
  }
  .CancelButton{
    position: absolute;
    right: 30px;
    bottom: 10px;
    padding: 5px 30px;
    border: none;
    background-color: #4bca81;
    color: #fff;
    border-radius: 25px;
    font-weight: 600;
  }
  .SendButton{
    position: absolute;
    right: 30px;
    bottom: 10px;
    padding: 5px 30px;
    border: none;
    background-color: #4bca81;
    color: #fff;
    border-radius: 25px;
    font-weight: 600;
  }
}