.NavigationItems {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  padding: 0;
  border-bottom: 2px solid #EFEFEF;
  margin-top: 28px;
  margin-bottom: 20px;

  li {
    float: left;
    font-size: 12px;
    padding: 10px 0 6px;

    a {
      display: block;
      color: #16325C;
      text-align: center;
      padding: 1px 13px;
      text-decoration: none;
      border-left: 2px solid #EFEFEF;
    }
  }
}

.Navfirstli {
  border-left: none !important;
  padding-left: 10px !important;
}

.Search {
  font-size: 13px;
  margin-top: 28px;
  width: 100%;
  border: none;
  padding: 9px 15px;
  border-bottom: 2px solid #EFEFEF;
}

.NavCol {
  flex: 0 0 55%;
  max-width: 55%;
}

.SearchCol {
  flex: 0 0 45%;
  max-width: 45%;
}
