.Biography {
  background-color: #fff;
  margin-top: 30px;
  border-bottom: 3px solid #efefef;

  .BioContent {
    padding: 20px;
    h3 {
      color: #2B2826;
      font-size: 21px;
      font-weight: 600;
    }

    p {
      color: #706E6B;
      font-size: 12px;
      margin-bottom: 20px;
    }
  }
}
